@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(206, 171, 139);
}

/*encabezado*/
.bg-body-nav {
    background-color: rgb(236, 192, 133);
}

.logo {
    width: 70px;
    height: 60px;
    float: left;
}

.nav-link {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*fin del encabezado*/
main {
    width: 100%;
    height: 100%;
flex-direction: row;
flex-wrap: wrap;
}

.flex-container1 {
    display: flex;
}

.video {
    display: flex;
    margin: 10px;
    display: inline flex;

}

.cafe {
    width: 70%;
    height: auto;

    flex-flow: wrap;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    flex:1 1 70%;
	 
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

.cafe h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    

    text-align: center;
}

.cafe p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-align: center;


}

.caja2 {
    width: 100%;
    height: auto;
    margin: 10px;
flex-wrap: wrap;

}

.caja2 h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    display: flex;
}

.tipos {
    display: flex;
    flex-wrap:nowrap;
    margin: 15px 20px;
}

.tipos p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
}

h5 {
    display: block;
margin: 1%;

}

footer {
    background-color: rgb(236, 192, 133);
    bottom: 0px;
    width: 100%;
    height: 45px;
    position: relative;
    left: 0%;
    right: 0%;
    display: table;

}

footer h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-style: oblique;
    margin: 10px;
    display: inline;
}

footer a img {
    width: 50px;
    height: 40px;

}
.opcionesCafe {
    align-items: center;
}
.opcionesCafe h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    align-items: center;

}

.menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: auto;
    align-items: center;
}

.opcionesCafe img {
    margin: 20px;
    display: inline;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
}

.opcionesComida h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;

}

.opcionesComida img {
    margin: 20px;
    display: inline;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/4;

}

.locales {
    width: 100%;
    height: auto;
    flex-flow: wrap;
}

.locales h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.locales h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.localMicrocentro {
    display: flex;
}

.localMicrocentro img {
    width: 30%;
    height: 550px;
    justify-content: center;
    margin: 30px 200px;
}

.localPalermo {
    display: flex;
}

.localPalermo img {
    width: 30%;
    height: 550px;
    justify-content: center;
    margin: 30px 200px;
}

.contacto h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.iconos {
    width: 70px;
    height: 60px;
    margin-left: 30px;
    margin-bottom: 0px;
    display: flex block;
}

.contactos {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline;
}

.contactos h3 {
    margin-left: 100px;
    margin-bottom: 15px;
    display: inline;
}

.imgdecontacto {
    width: 900px;
    height: 1800px;
    display: inline-flex;
    margin-left: 60px;


}

.opinion h1 {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    color: black;
    font-style: oblique;
    text-align: center;
}

.opinion p {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;

}

.opinion input {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: black;
    width: 50%;
    height: 10%;
}