@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(206, 171, 139);
}

/*encabezado*/
.bg-body-nav{
    background-color: rgb(236, 192, 133);
}
.logo {
    width: 70px;
    height: 60px;
    float: left;
}
.nav-link{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}

/*fin del encabezado*/
.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}

.caja1 {
    width: 100%;
    height: 315px;
    margin: 10%;
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    margin: 10px;
    display: inline flex;
}

.cafe {
    width: 40%;
    height: auto;
    display: flex inline;
    justify-content: center;
    flex-flow: wrap;
    margin: 0px;

}

.cafe h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.cafe p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-align: center;

}

.caja2 {
    width: 100%;
    height: auto;
    margin: 10px;


}

.caja2 h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.tipos1 {
    width: 30%;
    display: flex inline;
    margin: 15px 20px;
}

.tipos1 p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.tipos2 {
    width: 30%;
    margin: 15px 20px;
    display: flex inline;
}

.tipos2 p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.tipos3 {
    width: 30%;
    display: flex inline;
    margin: 15px 20px;
}

.tipos3 p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.imgColado img {
    width: 100%;
    height: 500px;
}

footer {
    background-color: rgb(124, 66, 0);
    bottom: 0px;
    width: 100%;
    height: 45px;
    position: relative;
    left: 0%;
    right: 0%;
    display: table;

}

footer h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-style: oblique;
    margin: 10px;
    display: inline;
}

footer a img {
    width: 50px;
    height: 40px;

}

.opcionesCafe h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin: 10px 0px 10px 250px;

}

.opcionesCafe img {
    margin: 20px;
    display: inline;
    width: 40%;
}

.opcionesComida h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin: 10px 0px 10px 250px;

}

.opcionesComida img {
    margin: 20px;
    display: inline;
    width: 40%;
}

.locales {
    width: 100%;
    height: auto;
    flex-flow: wrap;
}

.locales h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.locales h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.localMicrocentro {
    display: flex;
}

.localMicrocentro img {
    width: 30%;
    height: 550px;
    justify-content: center;
    margin: 30px 200px;
}

.localPalermo {
    display: flex;
}

.localPalermo img {
    width: 30%;
    height: 550px;
    justify-content: center;
    margin: 30px 200px;
}

.contacto h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
    display: flex;
}

.iconos {
    width: 70px;
    height: 60px;
    margin-left: 30px;
    margin-bottom: 0px;
    display: flex block;
}

.contactos {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline;
}

.contactos h3 {
    margin-left: 100px;
    margin-bottom: 15px;
    display: inline;
}

.imgdecontacto {
    width: 900px;
    height: 1800px;
    display: inline-flex;
    margin-left: 60px;


}

.opinion h1 {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    color: black;
    font-style: oblique;
    text-align: center;
}

.opinion p {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;

}

.opinion input {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: black;
    width: 50%;
    height: 10%;
}
